#sidebar
	h1 Phon
	.module(data-module='Instrument', data-sound='Lead')
		h2.clearfix Lead
			span.icon
		.content

	.module(data-module='Instrument', data-sound='Bass')
		h2.clearfix Bass
			span.icon
		.content

	.module(data-module='Sample', data-sound='Drum')
		h2.clearfix Drums
			span.icon
		.content

	.module(data-module='Sample', data-sound='Sample')
		h2.clearfix Samples
			span.icon
		.content

	.global.persistent.module(data-module='Global')
		h2.clearfix Global
			span.icon
		.content

#paper

#chat
	.scroller
		ul.content
	.name.clearfix
		label pick a name
		input.text.username(type='text')		
	input.text.msg(type='text', placeholder='chat here')