#sidebar

	h1 Phon

	.module.first(data-module='Instrument', data-sound='Lead')
		h2.clearfix Lead
			span.icon
		.content

	.module(data-module='Instrument', data-sound='Bass')
		h2.clearfix Bass
			span.icon
		.content

	.module(data-module='Sample', data-sound='Drum')
		h2.clearfix Drums
			span.icon
		.content

	.module.last(data-module='Sample', data-sound='Sample')
		h2.clearfix Samples
			span.icon
		.content
	
	.footer

		.global.persistent.module(data-module='Global')
			.content

		#chat
			.scroller
				ul.content
			.name.clearfix
				label pick a name
				input.text.username(type='text')		
			input.text.msg(type='text', placeholder='chat here')

#paper

#disclaimer

	p it appears you are not using a modern browser with a capable audio api
	p phon recommends you download one of the following:

	ul
		li
			a(href='http://www.google.com/chrome') chrome
		li
			a(href='http://www.mozilla.org/en-US/firefox/new/') firefox

	p if you are using chrome, please make sure you enable the audio api from about:flags like so:
	a(href='/images/flags.png') click for instructions

	p if you are using Mac OS X Lion, you must use the chrome canary bulid
	a(href='http://tools.google.com/dlpage/chromesxs') download chrome canary