#sidebar
	.module(data-module='Instrument', data-sound='Lead')
		h2.clearfix Lead
			span.icon
		.content
			.buttons
				a.assign.btn Assign
				a.deactivate.btn Deactivate

	.module(data-module='Instrument', data-sound='Bass')
		h2.clearfix Bass
			span.icon
		.content
			.buttons
				a.assign.btn Assign
				a.deactivate.btn Deactivate

	.module(data-module='Sample', data-sound='Drum')
		h2.clearfix Drums
			span.icon
		.content
			.buttons
				a.assign.btn Assign
				a.deactivate.btn Deactivate

	.module(data-module='Sample', data-sound='Sample')
		h2.clearfix Samples
			span.icon
		.content
			.buttons
				a.assign.btn Assign
				a.deactivate.btn Deactivate

	.persistent.module(data-module='Global')
		h2.clearfix Global
			span.icon
		.content

#paper