!!!
html
  head
    title= title
    != css('main')
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/move.js')
    script(src='/js/lib/underscore.js')
    script(src='/js/lib/backbone.js')
    script(src='/js/lib/raphael-min.js')
    != js('models.js')
  body!= body