!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/raphael-min.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/backbone.js')
    script(src='/javascripts/DAT.GUI.js')

    script(src='/javascripts/phon.js')
  body!= body