

.oct {
	z-index: 1;
  width: 50px;
  height: 50px;
  background: red;
  position: relative;
  display: inline-block;
  margin: 1px;
}
.oct:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 15px solid red;
  border-left: 15px solid rgb(32, 32, 32);
  border-right: 15px solid rgb(32, 32, 32);
  width: 20px;
  height: 0;
}
.oct:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 15px solid red;
  border-left: 15px solid rgb(32, 32, 32);
  border-right: 15px solid rgb(32, 32, 32);
  width: 20px;
  margin-top: 35px;
  height: 0;
}

.dia {
	z-index: 3;
   width: 15px; 
   height: 15px; 
   background: purple;
   display: inline-block;
   position: absolute;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
}

#grid{
	width: 800 !important;
}